

.relogio {
  background: transparent;
  display: flex;
  height: 200px;
  width: 450px;
  align-items: center;
  justify-content: space-around;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, #c5b343d8, #ff2525da);
}

.relogio div {
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(5, 5, 5, 0.9);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  letter-spacing: 3px;
  margin: 10px;
}

.relogio span {
  font-weight: bolder;
  font-size: 60px;
}

.relogio span.tempo {
  font-size: 10px;
}

@media only screen and (max-width: 600px) {
  .relogio div {
    width: 80%; 
  }

  .relogio span {
    font-size: 30px; 
  }

  .relogio span.tempo {
    font-size: 6px; 
}}